<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>LucaSpotify</title>
    <link rel="stylesheet" href="css/erro.css">
</head>
<body>
	<div class="container">
        <h2 class="titulo-erro">Erro: <%=erro%></h2>
        <p class="msg-erro">Oops! Parece que encontramos um erro. Não se preocupe, clique no botão para recomeçar.</p>
		<button class="green-button">Recomeçar</button>
	</div>
    <script src="js/erro.js"></script>
</body>
</html>